@model Store.Models.Product

@{
    ViewBag.Title = "Add Products";
}

<h2><i class="fa fa-upload"></i> Add Products</h2>

<div class="col-xs-12 hclearfix">
    @using (Html.BeginForm("AddProductForm", "Admin", FormMethod.Post))
    {
    <div class="col-xs-2">
        <label>Product SKU</label>
    </div>
    <div class="col-xs-10">
        <p>@Html.TextBoxFor(m => m.SKU) <span class="alert">@Html.ValidationMessageFor(x => x.SKU)</span></p>
    </div>
    <div class="col-xs-2">
        <label>Product Name</label>
    </div>
    <div class="col-xs-10">
        <p>@Html.TextBoxFor(m => m.Name) <span class="alert">@Html.ValidationMessageFor(x => x.Name)</span></p>
    </div>
    <div class="col-xs-2">
        <label>Product Price</label>
    </div>
    <div class="col-xs-10">       
        <p>@Html.TextBoxFor(m => m.Price) <span class="alert">@Html.ValidationMessageFor(x => x.Price)</span></p>
    </div>
    <div class="col-xs-2">
        <label>Product Stock</label>
    </div>
    <div class="col-xs-10"> 
        <p>@Html.TextBoxFor(m => m.Quantity) <span class="alert">@Html.ValidationMessageFor(x => x.Quantity)</span></p>
    </div>
    <div class="col-xs-2">
        <label>Product Picture</label>
    </div>
    <div class="col-xs-10"> 
        <p>@Html.TextBoxFor(m => m.PicURL) <span class="alert">@Html.ValidationMessageFor(x => x.PicURL)</span></p>
    </div>
    <div class="col-xs-2">
        <label></label>
    </div>
    <div class="col-xs-10"> 
        <p><input type="submit" value="Upload" /></p>
    </div>
        }
</div>