@model Store.ViewModel.ProductsViewModel

@{
    ViewBag.Title = "Edit Products";
}

<h2><i class="fa fa-pencil-square-o"></i> Edit Products</h2>

<div class="col-xs-12 hclearfix edit">
    <div class="col-xs-2 eRow et"><b>Product SKU</b></div>
    <div class="col-xs-2 eRow et"><b>Product Name</b></div>
    <div class="col-xs-2 eRow et"><b>Product Price</b></div>
    <div class="col-xs-2 eRow et"><b>Product Quantity</b></div>
    <div class="col-xs-2 eRow et"><b>Product Picture</b></div>
    <div class="col-xs-1 eRow et"><b>pId</b></div>
    <div class="col-xs-1 eRow et"><b>Remove?</b></div>


    @foreach (Product obj in Model.products)
{
    <div class="col-xs-2 eRow">@obj.SKU</div>
    <div class="col-xs-2 eRow">@obj.Name</div>
    <div class="col-xs-2 eRow">@obj.Price</div>
    <div class="col-xs-2 eRow">@Html.TextBoxFor(m => m.product.Quantity, new { id = "Quantity", Value = @obj.Quantity })</div>
    <div class="col-xs-2 eRow">@obj.PicURL</div>
    <div class="col-xs-1 eRow">@obj.Id</div>
    <div class="col-xs-1 eRow">@Html.CheckBox("s")</div>
}
    <div class="col-xs-12 eRow">
        <p class="left">
            <button type="submit" onclick="updateProducts('@Model.products.ToList()');">Save Changes</button>
        </>

        <p class="alert-danger right">
            @Html.ValidationSummary()
        </p>
    </div>
</div>

<script>
    function updateProducts(products) {

        var args = {}

        args.stock = products;

        $.ajax({
            type: "POST",
            url: SubmitProductsValues,
            contentType: "application/json; charset=utf-8",
            data: args.stock,
            dataType: "json",
            success: function (msg) {
                //! After the action was sent
            
                
            }
        });

    }
</script>